.progress-bar {
  --progress-color-background: #EFEFEF;
  --progress-color-border: #CBCBCB;
  --progress-height: 24px;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--progress-height);
  background-color: var(--progress-color-background);
  border: 1px solid var(--progress-color-border);
}
